*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: absolute;
    left: 35%;
    top: 15%;
}
h1{
    margin-bottom: 2rem;
}
a{
    color: aliceblue;
    text-decoration: none;
    background-color: teal;
    margin-top: 2px;
    padding: 5px 10px;
    border-radius: 10px;
}
#admin-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}
.person{
    display: flex;
    background-color: antiquewhite;
    margin: 10px;
    width: 25%;
    height: 30%;
    border-radius: 10px;
}
img{
    width: 25%;
    border-radius: 10px;
}
.texts{
    padding: 10px;
}

#adminPanel{
    display: none;
}